{{define "/about"}}{{template "_head" .}}
<div hx-ext="response-targets">
  <h1>About</h1>
  <form
    hx-encoding= "multipart/form-data"
    hx-patch="/about/"
    hx-swap="none"
    hx-target-error="#about-text-error"
    hx-on::after-request="resetFileInput()"
    class="grid"
  >
    <div id="about-text-error"></div>
    <div id="content" class="flex gap flex-wrap">
      <div>
        <label class="cursor-pointer">
          Select about image
        <input
          type="file"
          accept="image/*"
          onchange="onAboutImageChange(event)"
          hidden
          name="image"
          id="about-input"
        />
        </label>
        <input name="prev-image-url" hidden value="{{.Props.About.Image.URL}}"/>
        <img src="{{.Props.About.Image.URL}}" id="about-image" class="cursor-pointer" />
      </div>
      <label>
        <p>Bio</p>
        <textarea is="custom-auto-resize" style="width: 100%;" name="bio">{{.Props.About.Bio}}</textarea>
      </label>
    </div>
    <span>
      <button class="block mt-sm ml-auto" type="submit">Save</button>
    </span>
  </form>
</div>
<script async src="/assets/scripts/about.js"></script>
<style>
#content > * {
  flex: 1 1 300px;
}
</style>
{{template "_tail"}}{{end}}
