{{define "head"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{if .Title}}{{.Title}}{{else}}Nausea admin{{end}}</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app" class="p-md gap-md text-black bg-base h-full">
      <aside class="paper border">
        <nav hx-boost="true">
          <ul class="grid gap-md">
            <a class="border border-sm p-md clickable {{if eq .PageMeta.ActiveRoute "/"}}bg-primary text-white{{end}}" href="/">
              <li>
                Stats
              </li>
            </a>
            <a class="border border-sm p-md clickable {{if eq .PageMeta.ActiveRoute "/about"}}bg-primary text-white{{end}}" href="/about">
              <li>
                About
              </li>
            </a>
            <a class="border border-sm p-md clickable {{if eq .PageMeta.ActiveRoute "/gallery"}}bg-primary text-white{{end}}" href="/gallery">
              <li>
                Gallery
              </li>
            </a>
            <a class="border border-sm p-md clickable {{if eq .PageMeta.ActiveRoute "/contacts"}}bg-primary text-white{{end}}" href="/contacts">
              <li>
                Contacts
              </li>
            </a>
          </ul>
        </nav>
      </aside>
      <main>{{end}}{{define "tail"}}</main>
    </div>
  </body>
</html>
{{end}}


{{define "fallback"}}
{{template "head" .}}
<h2>This page does not exist</h2>
{{template "tail"}}
{{end}}
