{{define "/contacts"}}
{{template "head" .}}

{{range .Lazy}}
  {{template "lazy wrapper" .}}
{{end}}

{{template "tail"}}
{{end}}


{{define "contacts lazy"}}
{{range .Forms}}
  {{template "form" .}}
{{end}}
{{range .Links}}
  {{template "contacts link" .}}
{{end}}
{{template "contacts link"}}
{{end}}


{{define "contacts link"}}
<form 
  class="border border-sm p-md" 
  {{if .ID}}hx-put="/contacts/links/{{.ID}}"{{else}}hx-post="/contacts/links"{{end}}
  hx-swap="{{if .ID}}outerHTML{{else}}beforebegin{{end}}"
  hx-on::after-request="this.reset()"
  >
  <div>
    <label>
      Text
      <input name="Text" value="{{.Text}}">
    </label>
  </div>
  <div>
    <label>
      URL
      <input name="URL" value="{{.URL}}">
    </label>
  </div>
  <button>{{if .ID}}Update{{else}}Create{{end}}</button>
  {{if .ID}}<button hx-delete="/contacts/links/{{.ID}}" hx-swap="delete" hx-target="closest form">Delete</button>{{end}}
</form>
{{end}}
