{{define "/folders"}}
{{template "_head" .}}
<div hx-ext="response-targets">
  <div class="sticky top-0 flex items-center gap border-b py-md bg-white">
    <h2 class="mr-md">{{.Props.Folder.Name}}</h2>
    <button id="new-folder-trigger">New folder</button>
    <button id="upload-trigger">Upload</button>
    <show-deleted-checkbox></show-deleted-checkbox>
  </div>
  {{if .Props.Error}}
  <p class="text-red py-md">{{.Props.Error}}</p>
  {{end}}
      <div class="border-b border-gray p-xs grid gap">
        <a
          class="text-one-line flex items-center folder"
          href="/folders/{{.Props.Folder.ParentID}}"
          >../</a
        >
      </div>
  <menu id="folder-contents">
    {{range .Props.Folder.FolderContents}}{{template "folder-list" .}}{{end}}
    <span id="folders-tail"></span>
    {{range .Props.Folder.MediaContents}}{{template "media-list" .}}{{end}}
    <span id="media-tail"></span>
  </menu>
</div>

<custom-dialog
  trigger="#new-folder-trigger"
  onclose="cleanupCreateFolder()"
>
  <form
    id="create-folder-form"
    class="flex flex-col gap"
    hx-post="/folders/{{.Props.Folder.ID.ID}}"
    hx-swap="beforebegin"
    hx-target="#folders-tail"
    hx-target-error="#create-folder-error"
  >
    <p>Create new folder in "{{.Props.Folder.Name}}"</p>
    <input autofocus name="name" placeholder="Folder name...">
    <div class="text-red empty-hidden" id="create-folder-error"></div>
    <div class="flex gap">
      <button type="reset" class="basis-full">Cancel</button>
      <button type="submit" class="basis-full">Submit</button>
    </div>
  </form>
</custom-dialog>

<custom-dialog
  trigger="#upload-trigger"
  onopen="openFileInput()"
  onclose="cleanupUpload()"
  >
  <form 
    id="upload-media-form"
    class="block"
    hx-post="/media?folder-id={{.Props.Folder.ID.ID}}"
    hx-encoding= "multipart/form-data"
    hx-swap="beforebegin"
    hx-target="#media-tail"
    hx-target-error="#upload-media-error"
    >
    <div class="upload-controls">
      <input id="media-file-input" type="file" name="file" multiple accept="image/*">
      <button type="submit">Upload</button>
    </div>
    <div class="text-red empty-hidden" id="upload-media-error"></div>
    <div id="upload-preview-container"></div>
    <template id="upload-preview-template">
      <div class="upload-preview">
        <button type="button">x</button>
        <img src="" alt="">
      <div>
    </template>
  </form>
</custom-dialog>

<custom-dialog trigger=".rename-folder">
  <form
    id="rename-folder-form"
    data-hx-base="/folders/"
    hx-patch="/folders/"
    hx-swap="outerHTML"
    class="grid gap"
    >
    <label class="grid">Name
      <textarea name="name"></textarea>
    </label class="grid">
    <button type="submit">submit</button>
  </form>
</custom-dialog>

<custom-dialog trigger=".rename-media">
  <form id="rename-media-form" hx-post="/" class="grid gap">
    <label class="grid">Name
      <textarea name="name"></textarea>
    </label class="grid">
    <label class="grid">Description
      <textarea name="description"></textarea>
    </label class="grid">
    <button type="submit">submit</button>
  </form>
</custom-dialog>

<script async src="/assets/scripts/folders.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/styles/folders.css">
{{template "_tail"}}
{{end}}


{{define "media-list-range"}}
  {{range .MediaContents}}{{template "media-list" .}}{{end}}
{{end}}


{{define "content-deletable-head"}}
<li id="content-{{.RefID}}" {{if .DeletedAt}}class="content-deleted" {{end}}>
  <div
    class="border-b border-gray p-xs grid gap"
    style="grid-template-columns: 1fr auto"
  >
{{end}}


{{define "content-deletable-tail"}}
  </div>
  <div class="text-red"></div>
</li>
{{end}}


{{define "list-item-show"}}show{{end}}
{{define "list-item-hide"}}hide{{end}}
{{define "list-item-edit"}}edit{{end}}

{{define "folder-list"}}
  {{template "content-deletable-head" .}}
  <a
    class="text-one-line flex items-center"
    title="{{.Name}}"
    href="{{.RefID}}"
  >
  <span class="folder text-one-line"><span>{{.Name}}</span></span>
  </a>
  <div>
    <button class="rename-folder" type="button" title="edit" onclick="updateContent('{{.Name}}', '{{.ContentBase.RefID}}')">
      {{template "list-item-edit"}}
    </button>
    {{if .DeletedAt}}
    <button
      hx-patch="/folders/{{.ContentBase.RefID}}/restore"
      hx-swap="outerHTML"
      hx-target="closest li"
      hx-target-error="next div"
      title="show"
    >
    {{template "list-item-show"}}
    </button>
    {{else}}
    <button
      hx-patch="/folders/{{.ContentBase.RefID}}/hide"
      hx-swap="outerHTML"
      hx-target="closest li"
      hx-target-error="next div"
      title="hide"
    >
    {{template "list-item-hide"}}
    </button>
    {{end}}
  </div>
  {{template "content-deletable-tail" .}}
{{end}}


{{define "media-list"}}
  {{template "content-deletable-head" .}}
  <span
    class="text-one-line flex gap items-center"
    title="{{.Name}}"
    href="{{.RefID}}"
  >
    <span class="media--container">
      <custom-scalable>
      <img src="{{.URL}}" class="h-full media--image">
      </custom-scalable>
    </span>
    <span class="text-one-line"> <span>{{.Name}}</span></span>
  </span>
  <div>
    <button class="rename-media" type="button" title="edit">
      {{template "list-item-edit"}}
    </button>
    {{if .DeletedAt}}
    <button
      hx-patch="/folders/{{.ParentID}}/{{.ContentBase.ID.ID}}/restore"
      hx-swap="outerHTML"
      hx-target="closest li"
      hx-target-error="next div"
      title="hide"
    >
    {{template "list-item-show"}}
    </button>
    {{else}}
    <button
      hx-patch="/folders/{{.ParentID}}/{{.ContentBase.ID.ID}}/hide"
      hx-swap="outerHTML"
      hx-target="closest li"
      hx-target-error="next div"
      title="show"
    >
    {{template "list-item-hide"}}
    </button>
    {{end}}
  </div>
  {{template "content-deletable-tail" .}}
{{end}}
