{{define "home"}}
{{template "head" .}}
{{template "form" .}}
{{template "tail"}}
{{end}}




{{define "form"}}
<form hx-post="/update" hx-swap="outerHTML">
  <div>
    <h2 id="table-of-contnets">
      <a href="#table-of-contnets">#</a> Table of contents
    </h2>
    <ul>
      <li><a href="#info">Info</a></li>
    </ul>
  </div>
  <hr />
  <div>
    <h3 id="info"><a href="#info">#</a> Info</h3>
    <label for="bio">Bio:</label>
    <div data-replicated-value="{{.Info.Bio}}" class="grow-wrap">
      <textarea
        name="bio"
        id="bio"
        onInput="this.parentNode.dataset.replicatedValue = this.value"
      >
{{.Info.Bio}}</textarea
      >
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
{{end}}
