{{define "/meta"}}{{template "_head" .}}
<div hx-ext="response-targets">
  <h1>Meta</h1>
  <form
    hx-encoding="multipart/form-data"
    hx-put="/meta/"
    hx-swap="outerHTML"
    hx-target="input[name='prev-image-url']"
    hx-target-error="#meta-text-error"
    hx-on::after-request="resetFileInput('#meta-input')"
    class="grid"
  >
    <div id="meta-text-error"></div>
    <div>
      <label class="cursor-pointer">
        Select background image
        <input
          type="file"
          accept="image/*"
          onchange="onImageChange(event, '#background-image')"
          hidden
          name="background-image"
          id="meta-input"
        />
      </label>
      {{template "prev-meta-image-url" .}}
      <img
        src="{{.Props.Meta.Background.URL}}"
        id="background-image"
        class="cursor-pointer"
        onclick="dublicateClick('#meta-input')"
      />
    </div>
    <span>
      <button class="block mt-sm ml-auto" type="submit">Save</button>
    </span>
  </form>
</div>
{{template "_tail"}}{{end}}



{{define "prev-meta-image-url"}}
<input name="prev-image-url" hidden value="{{.Props.Meta.Background.URL}}" />
{{end}}
