@import 'reset.css';

:root {
  --color-base: #FFF5EA;
  --color-primary: #9747FF;
  --color-accent: #FFFB47;
  --color-white: #FFF;
  --color-black: #000;

  --size-sm: 0.1rem;
  --size-md: 0.5rem;
}

#app {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.border {
  border: var(--size-md) solid var(--color-black);
}

.border-sm {
  border-width: var(--size-sm);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.bg-base {
  background: var(--color-base);
}

.bg-primary {
  background: var(--color-primary);
}

.bg-accent {
  background: var(--color-accent);
}

.clickable:hover {
  color: var(--color-black);
  background: var(--color-accent);
}

.paper {
  background: var(--color-white);
  padding: var(--size-md);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-md {
  gap: var(--size-md);
}

.p-md {
  padding: var(--size-md);
}

.h-full {
  height: 100%;
}
